<ul>
	{{burger_name}}

	{{#unless devoured}}
	<button class="change-devoured" data-id="{{this.id}}" data-eatburger="{{burger_name}}" data-newdevoured="{{devoured}}">
		Devour!
	</button>
	{{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</ul>
